<!--
 * @Author: daief
 * @LastEditors: daief
 * @Date: 2019-08-15 23:25:41
 * @Description:
 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>axew/toast</title>
</head>
<body>
  <button>button</button>
</body>
</html>